[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.modal.modal-wide .modal-dialog {
    width: 60%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

.fa-select {
    font-family: Arial, 'FontAwesome';
}
