<!DOCTYPE html>  
<html lang="es">  
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <title>..:: Intranet ::..</title>

    <link rel="stylesheet" type="text/css" href="/public/js/bootstrap/css/bootstrap.journal.css">
    {{#block "css"}}
    {{/block}}
</head>  
<body>
    <div class="container">
        {{! Everything else gets inserted here }}
        {{{content}}}
    </div>

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap/js/bootstrap.js"></script>
    {{#block "js"}}
    {{/block}}

</body>  
</html>